/* top row of track navigation inputs */
.trackBrowserInput {
    display: inline-block;
    vertical-align: top;
}
.trackBrowserInput .shiny-input-container {
    width: 90px;
}
.trackBrowserWideInput .shiny-input-container {
    width: 110px;
}
.genomeInput .shiny-input-container {
    width: 90px;
}
.annotationInput .shiny-input-container {
    width: 150px;
}
.coordinateInput .shiny-input-container {
    width: 95px;
}
.backButton {
    margin: 32px 5px 0px 5px;
}
.annotationSearchInput .shiny-input-container {
    width: 15px;
    margin: 12px 0px 0px 5px;
}
.genomeInput .selectize-input div {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
    vertical-align: text-bottom;
}
.trackBrowserInput .selectize-control,
.addTrack .selectize-control {
    margin: 0;
}
.trackBrowserInput:not(.ucscInput) button {
    width: 30px;
    text-align: center;
    padding: 6px 0;
    margin-top: 25px;
}
.trackBrowserInput .checkbox {
    margin-top: 30px;
    margin-left: 10px;
}

/* the browser region itself */
.browserContentPanel {
    display: inline-block;
    vertical-align: top;
}

/* the vertical list of track widgets */
.browserTrackList .rank-list-container,
.browserTrackList .rank-list,
.trackDeleteTarget .rank-list-container,
.trackDeleteTarget .rank-list
 {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: inherit;
}

/* each track widget */
.default-sortable .rank-list-item {
    border-radius: 3px;
    display: block;
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #ddd;
    overflow: hidden;
}
.browserTrack {
    width: 100%;
    line-height: 15px;
    border: 1px solid #ccc!important;
    border-radius: 5px !important;
    margin-bottom: 5px;
    /* padding: 4px 8px !important; */
    background-color: white;
}
.browserTrackLabel {
    margin: 4px 0 2px 8px;
}
.trackDeleteTarget {
    text-align: center;
    /* line-height: 30px; */
    color: grey;
    padding: 5px 0;
}
.browserTrack div {
    display: inline-block;
}
.browserTrack p {
    margin: 0;
}

/* the links embedded into track widgets */
.browserTrackItems,
.browserTrackSettings {
    float: right;
    cursor: pointer;    
    padding-right: 10px;
}
.browserTrackItems {
    line-height: 40px;
    padding-left: 10px;
}
.browserTrackSettings {
    line-height: 39px;
    margin-right: 5px;
    font-size: 1.2em;
}
.browserTrackItems:hover,
.browserTrackSettings:hover {
    background-color: white;
    opacity: 0.9
}

/* the table of selected items in a trackItemsDialog */
.trackItemsTable th,
.trackItemsTable td {
    padding: 0 8px;
}
.trackItemsTable .selectedItems tr {
    border-top: 1px solid #ddd;
    cursor: ns-resize;
}
.trackItemsTable .selectedItems tr:nth-child(odd) {
    background: rgb(249, 249, 249);
}
.trackItemsTable .selectedItems .selectize-control {
    height: 33px;
    margin: 1px 0;
}
